<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserList</key>
	<array>
		<dict>
			<key>username</key>
			<string>Nayna</string>
			<key>email</key>
			<string>nayna@gmail.com</string>
			<key>password</key>
			<string>nahinaa</string>
		</dict>
		<dict>
			<key>username</key>
			<string>Ankita</string>
			<key>email</key>
			<string>ankita@gmail.com</string>
			<key>password</key>
			<string>iantkilla</string>
		</dict>
		<dict>
			<key>username</key>
			<string>Nikhil</string>
			<key>email</key>
			<string>nikhil@gmail.com</string>
			<key>password</key>
			<string>noikillthebill</string>
		</dict>
		<dict>
			<key>username</key>
			<string>Kishore</string>
			<key>email</key>
			<string>kishore@gmail.com</string>
			<key>password</key>
			<string>kisswalahore</string>
		</dict>
		<dict>
			<key>username</key>
			<string>Tarlochan</string>
			<key>email</key>
			<string>brotherstarlochan5268@gmail.com</string>
			<key>password</key>
			<string>52685268</string>
		</dict>
	</array>
</dict>
</plist>
